
//Primary Colors
$clr-primary-100:#6649f5;
$clr-primary-200:#7d5df7;
$clr-primary-300:#9170f9;
$clr-primary-400:#a384fa;
$clr-primary-500:#b498fc;
$clr-primary-600:#c4acfd;

//Surface Colors
$clr-surface-100:#2a2c3d;
$clr-surface-200:#3f4050;
$clr-surface-300:#545564;
$clr-surface-400:#6a6b78;
$clr-surface-500:#81828d;
$clr-surface-600:#999aa3;

//Neutral Colors
$clr-neutral-white: #ffffff;



