
//Primary Colors
$clr-primary-100:#6649f5;
$clr-primary-200:#7d5df7;
$clr-primary-300:#9170f9;
$clr-primary-400:#a384fa;
$clr-primary-500:#b498fc;
$clr-primary-600:#c4acfd;

//Surface Colors
$clr-surface-100:#211938;
$clr-surface-200:#372e4c;
$clr-surface-300:#4d4560;
$clr-surface-400:#645d75;
$clr-surface-500:#7c758b;
$clr-surface-600:#958fa1;

//Neutral Colors
$clr-neutral-white: #ffffff;

//State Colors
$clr-success:#4caf50;
$clr-error: #e91e63;


