
//Primary Colors
$clr-primary-100:#6649f5;
$clr-primary-200:#7d5df7;
$clr-primary-300:#9170f9;
$clr-primary-400:#a384fa;
$clr-primary-500:#b498fc;
$clr-primary-600:#c4acfd;

//Surface Colors
$clr-surface-100:#1a1625;
$clr-surface-200:#2f2b3a;
$clr-surface-300:#46424f;
$clr-surface-400:#5e5a66;
$clr-surface-500:#76737e;
$clr-surface-600:#908d96;

//Neutral Colors
$clr-neutral-white: #ffffff;



