
//Border Radius
$border-radius-button: 1.25rem;
$border-radius-credit-card: 1rem;
$border-radius-result-card: 1rem;

//Border Width
$border-width-nav-link: 0.125rem;

//Paddings
$padding-button-horizontal: 1rem;
$padding-button-vertical: 0.25rem;

$padding-between-components-sm: 1rem;
$padding-between-components-md: 1.5rem;
$padding-between-components-lg: 2rem;

//Margins
$margin-before-headline-sm: 0.75rem;
$margin-before-headline-md: 1rem;
$margin-before-headline-lg: 1rem;
$margin-after-headline-sm: 0.25rem;
$margin-after-headline-md: 0.5rem;
$margin-after-headline-lg: 0.5rem;

$margin-between-components-df: 1rem;

//Widths
$width-button: 8rem;
$width-chip: 3.125rem;
$width-credit-card: 28rem;

//Heights
$height-credit-card: 20rem;
