@import "./partials/_global.scss";

.documentation{
    background-color: $clr-surface-200;
    padding:$padding-between-components-sm;
    margin-top: $margin-between-components-df;
    border-radius: $border-radius-result-card;
    margin-left: auto;
    margin-right: auto;
    @include md{
        max-width: 60%;
        padding:$padding-between-components-md;
    }
    @include lg{
        max-width: 50%;
        padding:$padding-between-components-lg;
    }
}